img.gallery {
	width: 100%;
	border: 1px solid #90A4AE;
	border-radius: 16px;
	max-width: 800px;
}

#negneg-corner, #pospos-corner, #posx-border {
	padding-left: 32px;
}

.col-6.gallery,.col-12.gallery {
	text-align: right;
}

#sal-vid {
	max-width: 100%;
}