span.player {
	display:inline-grid;
	text-align: center;
	
	img {
		padding: 4px 32px 32px 32px;
		height: 95%;
		transition: height .1s;

		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	img:hover {
		height: 100%;
	}
}

#faq {
	text-align: center;

	@include device('desktop') {
		max-width: 60%;
	}

	#faq-left {
		text-align: left;
	}

	.col-1 {
		text-align: right;
	}
}

#index {
	@include device('desktop') {
		max-width: 950px;
	}
}