extends ../_main
block title
	title Pack Designer - Motorway Extension Gurus
block description
	meta(name='description', content='MEG Resource Pack Designer')
block content
	center: #designer
		h1(style='text-align: center;') #[i.fad.fa-file-archive] Pack Designer
		.row
			.col-8
				h2(style='text-align: center;') #[i.fad.fa-pencil-paintbrush] Create

				h3 Diamond Pickaxe
				+asset(data.pack.textures.diamond_pickaxe.meg_pickaxe)
				+asset(data.pack.textures.diamond_pickaxe.yesnik_pickaxe)
				
				br
				h3 Totems
				+asset(data.pack.textures.totem.Citadel2222)
				+asset(data.pack.textures.totem.illville502)
				+asset(data.pack.textures.totem.VeryVon)
				
				br
				h3 Netherrack
				+asset(data.pack.textures.netherrack.tycrek_netherrack)

				br
				h3 Nether Quartz
				+asset(data.pack.textures.quartz_ore.quartz_aven)
				+asset(data.pack.textures.quartz_ore.quartz_aven2)

				br
				h3 Obsidian
				+asset(data.pack.textures.obsidian.tycrek_obby)
				+asset(data.pack.textures.obsidian.faithful_vibrant)
				
				br
				h3 Bedrock
				+asset(data.pack.textures.bedrock.tycrek_bedrock)

				br
				h3 Fire
				+asset(data.pack.textures.fire_layer.harritaco_fire)

			.col-4
				h2(style='text-align: center;') #[i.fad.fa-download] Download
				strong Selected resources:
				ul#pack-assets
					// This gets populated by designer.js

				button(onclick='download();') Download
				br
				br
				small #[strong Note]: Harritaco's Fire has some issues with Optifine Mipmap Levels. If you have problems, turn Mipmap levels off.
			
			.col-4(style='text-align: center;')
				br
				br
				h3 #[i.fad.fa-at] Credits
				div(style='text-align: left;'): ul
					li DantezWrath: #[em MEG Pickaxe & Faithful Vibrant obsidian]
					li tycrek: #[em Player totems & tycrek's blocks]
					li harritaco: #[em Harritaco's fire]
					li ToxicAven: #[em Aven's Quartz]
					li yesnik: #[em yesnik's Pickaxe]
				
block append scripts
	script(src='/designer.js' type='text/javascript')

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?