extends ../_main
block title
	title Gallery - Motorway Extension Gurus
block content
	center
		h1 Gallery
		iframe(src='https://www.youtube-nocookie.com/embed/8Rvutrid_FE?modestbranding=1&showinfo=0&rel=0' width='560' height='315' frameborder='0')
	
	br
	br
	.row
		.col-7.gallery
			img.gallery(src='https://static.miraheze.org/2b2twiki/2/26/2020-05-27_18.04.10.png' alt='-,- corner')
		.col-5#negneg-corner
			h2.gallery -X, -Z corner
			p This was the server's and group's first completed diagonal highway which was dug from spawn to the -X, -Z world border. This dig was completed by Citadel2222, Illville502, VeryVon, DantezWrath, KevinKC2014, and Superbad0315.
			h3 Milestones
			ul
				li -10M, -10M reached on 8th of January, 2020.
				li -20M, -20M reached on 12th of April, 2020.
				li -30M, -30M reached on 26th of May, 2020.
block append scripts
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?