extends ../_main
block title
	title Gallery - Motorway Extension Gurus
block description
	meta(name='description', content='Photos, videos, and other media')
block content
	center
		h1 Gallery
		iframe#sal-vid(src='https://www.youtube-nocookie.com/embed/8Rvutrid_FE?modestbranding=1&showinfo=0&rel=0' width='560' height='315' frameborder='0')
	
	br
	br
	.row#master-row
		.col-4
			.row
				.col-12.gallery
					img.gallery(src='https://static.miraheze.org/2b2twiki/2/26/2020-05-27_18.04.10.png' alt='-,- corner')
				.col-12#negneg-corner
					h2.gallery -X, -Z corner
					p This was the server's and group's first completed diagonal highway which was dug from spawn to the -X, -Z world border. This dig was completed by Citadel2222, Illville502, VeryVon, DantezWrath, KevinKC2014, and Superbad0315.
					p Click #[a(href='/-X-Z_WorldBorderPano.zip' download) here] to download a main menu panorama of the corner! (Compatible with any other 1.12.2 resource packs; just place it at the top of the resource pack list).
					h3 Milestones
					ul
						li -10M, -10M reached on 8th of January, 2020.
						li -20M, -20M reached on 12th of April, 2020.
						li -30M, -30M reached on 26th of May, 2020.
					p: a(href='https://old.reddit.com/r/2b2t/comments/gt5v2u/the_first_diagonal_highway_to_the_wb_complete/' target='_blank') View the post on r/2b2t
		.col-4
			.row
				.col-12.gallery
					img.gallery(src='https://cdn.discordapp.com/attachments/679997183130337298/757297794967928922/WB.png' alt='+,+ corner')
				.col-12#pospos-corner
					h2.gallery +X, +Z corner
					p Our second elytra-friendly diagonal highway from SPAWN to WB (+X, +Z) was completed on the 4th of September, 2020. Similar to the -X, -Z highway, it took us 3,000 hours to dig. This marks a total of 6,000 hours of digging clocked in by the Motorway Extension Gurus. It should be noted that this number does not factor in the many many more hours spent organizing the logistics of this project by all involved.
					p It is with this dedication that a select handful of individuals on 2B2T are undertaking public infrastructure projects that are unlikely to have ever been initiated - and if begun, ever completed. For this reason, the individuals who have contributed to this project need be recognized.
					p This digging project was initiated on the 28th of May, 2020 by #[strong @harritaco], #[strong @KevinKC2014], and #[strong @Mr. Potato]. This was no small feat; over three months, these individuals extended the 3 * 3 tunnel by approximately 37.5K nether (300K overworld equivalent), per day, for 100 consecutive days. Sizeable contributions were also made by #[strong @Max/5K5K], #[strong Paragon], and #[strong @Squirlboy006] during the mid-late stages of the dig, for which the team is grateful.
					h3 Milestones
					ul
						li +10M, +10M reached on 9th of July, 2020.
						li +20M, +20M reached on 13th of August, 2020.
						li +30M, +30M reached on 4th of September, 2020.
					p: a(href='https://old.reddit.com/r/2b2t/comments/iwi9u2/the_second_diagonal_highway_to_wb_complete/' target='_blank') View the post on r/2b2t
		.col-4
			.row
				.col-12.gallery
					img.gallery(src='https://cdn.discordapp.com/attachments/679997183130337298/761917986709307422/2020-10-01_01.09.54.png' alt='+x border')
				.col-12#posx-border
					h2.gallery +X world border
					p The +X highway has been widened from 1 block wide, 2 blocks high to 3 blocks wide, 3 blocks high.
					p This project was undertaken by #[strong @Justen], who virtually single-handedly completed this project over a two-month period (20th of July, 2020 - 25th of September, 2020). The total time taken to complete this dig was approximately 1,500 hours, which equates to 62 days of continuous mining (~60.5K nether/day or ~484K overworld/day).
					h3 Milestones
					ul
						li +10M reached on 23rd of August, 2020.
						li +20M reached on 5th of September, 2020.
						li +30M reached on 25th of September, 2020.
					p: a(href='https://old.reddit.com/r/2b2t/comments/j4efsw/motorway_extension_gurus_meg_widened_the_x_highway/' target='_blank') View the post on r/2b2t

block append scripts
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?