extends ../_main
block title
	title Motorway Extension Gurus
block content
	center
		h1 #[i.fad.fa-construction.fa-2x(style='--fa-primary-color: #FFEB3B; --fa-secondary-color: #FFC107;')] Under construction
		br
		h1 Founders
		div
			each user in ['citadel2222', 'illville502', 'VeryVon']
				+userImage(user, true)
		br
		h1 Members
		div
			each user in ['DantezWrath', 'KevinKC2014', 'superbad0315', 'Jonanen', 'Kurakuea', 'maksitaxi', 'Paragon801', 'Roy4lRondi', '5K5K', '5OO', 'CorruptedSeal', 'jumboman32', 'O_Juicy', '7956', 'tycrek']
				+userImage(user)