extends ../_main
block title
	title Motorway Extension Gurus
block content
	center
		h1 #[i.fad.fa-construction.fa-2x(style='--fa-primary-color: #FFEB3B; --fa-secondary-color: #FFC107;')] Under construction
		h2 Click #[a(href='/discord' target='_blank') here] to join the Discord!