extends ../_main
block title
	title Motorway Extension Gurus
block content
	center: #index
		h1 #[i.fad.fa-road] Projects
		.row(style='text-align: left;')
			.col-6(style='padding: 0 16px 0 8px;')
				h2(style='text-align: center;') Highways
				p We dig highways #[strong 3] blocks high, and #[strong 3] blocks wide to allow for relatively #[strong easy elytra flight]. We also have a number of other digging projects.

				.row
					.col-6(style='text-align: left;')
						h3 Diagonal
						ul
							li: strong -X, -Z #[em (complete!)]
							li +X, +Z #[em (in progress)]
							li +X, -Z #[em (in progress)]
							li -X, +Z #[em (in progress)]

					.col-6(style='text-align: left;')
						h3 Standard
						ul
							li +X #[em (in progress)]
							li +Z #[em (in progress)]
							li -X #[em (in progress)]
							li -Z #[em (in progress)]

			.col-6(style='padding: 0 8px 0 16px;')
				h2(style='text-align: center;') Other Initiatives
				p In addition to highways, MEG works on other projects on 2b2t, including the #[strong 125k Ring Road]
				
				h3 125k Ring Road #[em (complete!)]
				p The 125k Ring Road is located at any 125k coordinate in the nether, corrosponding to #[strong 1 million] blocks overworld. As of August 1st, 2020, the entire ring road has been dug to MEG standards (3x3) and paving is already underway.

		br
		h1 #[i.fad.fa-crown] Founders
		div
			each user in ['citadel2222', 'illville502', ['fuziness', 'VeryVon']]
				+userImage(user, true)
		br
		h1 #[i.fad.fa-shovel] Members
		div
			each user in ['DantezWrath', 'KevinKC2014', 'harritaco', 'Jonanen', 'Kurakuea', 'maksitaxi', 'Paragon801', 'Roy4lRondi', '5K5K', '5OO', 'CorruptedSeal', 'jumboman32', 'O_Juicy', '7956', 'tycrek']
				+userImage(user)

		br
		h1 #[i.fad.fa-question-circle] FAQ
		
		#faq: #faq-left
			+faq('How can I help?', 'Digging highways takes commitment. You will be investing a lot of time into staring at Netherrack. It is usually best to dig with an alt account, or have a spare alt to use while your main digs. It is also recommended to have purchased <strong>priority queue</strong> for your account (we will not buy you priority). You must also make your way to a dig site on your own: we are not a charity and won\'t provide you with Elytra or any other gear.<br><br>If you are still interested, reach out to us in our <a href="https://meg.one/discord" target="_blank">Discord</a>. You will <strong>not</strong> be provided with any gear until you prove yourself to the group.')
			+faq('Are you the new IIS?', 'No. Many previous IIS members have joined MEG, but we are not the same.')
			+faq('Is this a larp group?', '... no comment.')
