extends ../_main
block title
	title Privacy Policy - Motorway Extension Gurus
block description
	meta(name='description', content='Privacy Policy')
block content
	center
		h1 #[i.fad.fa-user-secret] Privacy Policy
		br
		#privacy-main: #privacy-secondary
			.row
				.col-6.privacy
					h2 Information we collect
					p We use #[a(href='https://umami.is/' target='_blank') umami] for detailed analytics about site activity. By continuing to use this website, you are allowing us to collect:
					ul
						li IP address (only used for retrieving country and is not stored by umami)
						li Country (we do not collect state, province, or city information)
						li Browser name (full user-agents are #[strong not] stored by umami)
						li Device type
						li Operating system
						li Pages viewed
						li Referring page
				.col-6.privacy
					h2 How we use this information
					p This information is used to learn how users use the website and allows us to improve the user experience. Your information is never sold or given to third parties.
					p This information may also be used to investigate problems with the website. It always remains on the server and is never sent to third parties.
				.col-6.privacy
					h2 Removal of information
					p If you wish to have your information removed, reach out and we will work with you to remove it.

		
//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?