extends ../_main
block title
	title Privacy Policy - Motorway Extension Gurus
block content
	center
		h1 Privacy Policy
		br
		#privacy-main: #privacy-secondary
			h2 Information we collect
			p We #[strong do not] actively collect any personally identifiable information, including but not limited to:
			ul
				li IP address
				li Country/State
				li Browser name, version, and other information
			h3 How we use this information
			p We cannot use what we do not collect.
			
			br

			h2 Information you provide
			p The software hosting this website automatically collects logs for internal purposes. By using this website, you automatically provide information including but not limited to:
			ul
				li IP Address
				li Pages viewed
				li Browser name, version, and other information
			h3 How we use this information
			p This information may be accessed to investigate problems with the website. It always remains on the server and is never sent to third parties.

			br
			
			h2 Removal of information
			p If you wish to have information described in "Information you provide" removed, reach out and we will work with you to remove it.

		
//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?