br
#footer
	span.left Thanks to #[a(href='https://minotar.net/' target='_blank') Minotar] for providing player skins
	span.right.
		Created by #[a(href='https://github.com/tycrek' target='_blank') tycrek]
		#[br]
		#[a(href='/privacy') Privacy Policy]