center
	br
	img(src='/images/banner.png' alt='MEG banner')
	br
	#menu
		span: a(href='/') Home
		span: a(href='/gallery') Gallery
		span: a(href='/discord' target='_blank') Discord
		span: a(href='/wiki' target='_blank') Wiki